@media (max-width: 1366px) {
  /* html {
    font-size: 75%;
  } */
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 67%;
  }
  .popup .container {
    padding: 10rem 0;
  }

  #wave {
    bottom: 235px;
  }
  #wave2 {
    bottom: 230px;
  }
  .content-bride {
    padding: 1rem 5% 8.2rem;
    text-align: start;
    align-items: start;
    justify-content: center;
  }
  .content-bride h4 {
    padding: 1.2rem 0;
    font-size: 1.5rem;
  }
  .content-bride h1 {
    font-size: 3.5rem;
  }
  .content-bride p,
  .content-bride .button {
    font-size: 1.2rem;
    margin: 1rem 0;
  }

  .coundown img {
    width: 75px;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
