@media (max-width: 1366px) {
  /* html {
    font-size: 75%;
  } */
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }

  .popup .container {
    padding: 7rem;
  }

  #wave {
    bottom: 180px;
  }
  #wave2 {
    bottom: 168px;
  }
  .content-bride {
    padding: 4rem 5%;
    text-align: start;
    align-items: start;
    justify-content: start;
  }
  .content-bride h4 {
    padding: 0.6rem 0;
    font-size: 1.5rem;
  }
  .content-bride h1 {
    font-size: 3.8rem;
  }
  .content-bride p,
  .content-bride .button {
    font-size: 1.2rem;
  }

  .coundown img {
    width: 75px;
  }
}
