/* My FONTS */
@font-face {
  font-family: analogue;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/Analogue.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: power;
  font-weight: normal;
  font-style: normal;
  src: url("fonts/power.woff2") format("woff2");
  font-display: swap;
}
/* Start Custom Fonts CSS */

/* MY CSS VARIABLE */
:root {
  /* --explora: "Explora", cursive; */
  --poppins: "Poppins", sans-serif;

  /* COLORS */
  --main-bg: #bbb1a7;

  --main-color: #7d685e;
  --text-color: #725b50;
  --shadow: 0 2px 2px rgba(0 0 0 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-size: 1.2rem;
  font-family: var(--poppins);
}

/* popup */
.popup {
  display: none; /* Mulai dengan mengatur popup menjadi tersembunyi */
  /* align-items: center; */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url(assets/img/popup1.jpg);
  background-size: cover;
  background-position: center; /* Latar belakang transparan */
  min-height: 100vh;
  transition: transform 4s ease, opacity 4s ease;
}
.popup .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* min-width: 100vh; */
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1) !important;
  padding: 5rem; /* Opsional: Sesuaikan padding sesuai kebutuhan */
  overflow: hidden;
  color: #fff;
  /* padding: 4rem; */
}

.popup .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.popup .content .title-bride {
  text-align: center;
}

.popup .content .dear {
  text-align: center;
}

.popup .content h1,
.popup .content h4,
.popup .content p {
  text-shadow: var(--shadow);
}
.popup .content p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.popup .content h4 {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 0.7rem;
}

.popup .content h1 {
  font-family: "analogue";
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 500;
}

.button {
  /* font-family: "Verdana", Sans-serif; */
  font-size: 1.5rem;
  font-weight: normal;
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #b89e92 0%, #725b50 100%);
  border-style: none;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
  padding: 8px 30px 8px 30px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  position: relative;
  overflow: hidden;
}

.img-bride {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.img-bride::after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(1, 1, 1, 0), rgba(1, 1, 1, 0.2));
  position: absolute;
  bottom: 0;
}

.bride-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 3/2;
  opacity: 0;
  transition: opacity 2s ease;
}

.bride-image.active {
  opacity: 1;
}

#wave {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 160px;
  left: 0;
  z-index: 0;
}
#wave2 {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 145px;
  left: 0;
  z-index: 0;
}

.content-bride {
  background: url("assets/img/bg2.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  padding: 0.7rem 5%;
}

.content-bride h4,
.content-bride h1,
.content-bride p,
.content-bride .button {
  z-index: 1;
}

.content-bride h4 {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--text-color);
}

.content-bride h1 {
  font-size: 3.2rem;
  font-family: "analogue";
  font-weight: normal;
  letter-spacing: 1;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}

.content-bride p {
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
  color: var(--text-color);
}

/* Coundown */

.coundown {
  padding: 4rem 0 0 0;
  background-color: #fff;
}

.coundown .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: #bbb1a7;
  padding: 2rem 0;
}

.coundown img {
  width: 120px;
}

.coundown h2 {
  color: #fff;
  font-size: 2.8rem;
  font-family: "analogue";
  font-weight: bold;
  letter-spacing: 1px;
}

.coundown .time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.coundown .time .waktu {
  margin: 2rem;
  color: #fff;
  font-family: "Poppins", Sans-serif;
  font-weight: normal;
}

.waktu h5 {
  font-size: 1.8rem;
  text-align: center;
  font-family: "Port Lligat Sans", sans-serif;
}
.waktu p {
  font-size: 1.2rem;
}

/* About */

.home {
  background-image: url(assets/img/bg-pattern.jpg);
  background-size: cover;
  min-height: 100vh;
  background-position: center;
  padding: 4rem 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;
}

.col-md-8,
.col-lg-6 {
  padding: 10px;
}

.col-md-8 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}

.col-lg-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.text-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: end;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.rounded-circle {
  border-radius: 50%;
  border: 3px solid var(--main-color);
}

.home p {
  font-size: 1.2rem;
  color: var(--text-color);
}

.home .couple {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .couple h3 {
  font-family: "analogue", serif;
  font-size: 2.7rem;
  color: var(--text-color);
  font-weight: normal;
  letter-spacing: 1px;
}

.home .couple img {
  width: 100%;
}

.instagram {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--main-color);
  margin-top: 10px;
}

.instagram i {
  /* margin: auto; */
  color: #fff;
  font-size: 1.6rem;
}

.heart {
  width: 50px;
  height: 50px;
  display: flex;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-10px);
}

.heart i {
  margin: auto;
  color: var(--text-color);
  font-size: 1.4rem;
}

.col-8,
.col-4 {
  padding: 10px;
}

.col-8 {
  flex: 0 0 66.6667%;
  max-width: 66.6667%;
}

.col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

/* wedding */
.hero-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Ensure the hero image is behind other content */
  /* border-radius: 40px 40px 0 0; */
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the whole hero section */
  object-position: center;
  /* border-radius: 40px 40px 0 0; */
}
.container-wedding {
  position: relative; /* Ensure this content is positioned relative to the fixed image */
  z-index: 1; /* Ensure this content is above the hero image */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 25%, rgba(255, 255, 255, 0.2));
  padding-top: 100vh; /* Ensure content starts after the hero image */
}

.wedding .doa {
  background: #bbb1a7;
  padding: 2rem 0;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  font-style: italic;
  margin-top: -100vh; /* Position .doa above */
  z-index: 2; /* Ensure .doa is above the container-wedding background */
  position: relative;
}

.wedding .doa img {
  width: 120px;
}

.wedding .doa p {
  font-size: 1.2rem;
  max-width: 75%;
  margin: 0.8rem 0;
}

.wedding h5 {
  font-size: 2rem;
  font-family: "analogue";
  font-weight: normal;
}

.wedding .container-akad {
  /* margin-top: 2rem; */
  padding: 5rem 7%;
}

.akad {
  background-color: #fff;
  border-radius: 300px 300px 15px 15px;
  width: 100%;
  border: 2px solid var(--main-bg);
  box-shadow: var(--shadow);
  padding: 7rem 1rem;
  /* display: flex; */
}

.akad h4 {
  font-size: 3.4rem;
  font-family: "analogue";
  font-weight: normal;
  color: var(--text-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.akad .tgl-acara {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.tgl-acara .tgl-akad {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-left: 1px solid #010100;
  border-right: 1px solid #010100;
  padding: 0 3rem;
}

.tgl-acara h5 {
  font-size: 3rem;
  padding: 0 1rem;
}

.tgl-akad span {
  font-family: "analogue";
  font-size: 2rem;
  /* color: var(--text-color); */
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.tgl-akad h5 {
  font-size: 5rem;
  color: #ab755c;
  font-weight: 600;
  font-family: "analogue" serif;
}

.tgl-akad .jam {
  font-size: 1.2rem;
  font-family: var(--poppins);
  font-weight: 400;
  text-align: center;
}

.container-akad .alamat {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  flex-direction: column;
  margin-bottom: 3rem;
}

.maps {
  font-size: 13px;
  font-weight: normal;
  fill: #ffffff;
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #b89e92 0%, #725b50 100%);
  border-style: none;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.09);
  padding: 8px 30px 8px 30px;
  margin: 1rem 0;
}

.line {
  width: 200px;
  height: auto;
  padding: 3rem 0;
  border-top: 1px solid #010100;
  text-align: center;
  display: flex;
}
